.login-form {
    width: 500px;
    height: 400px;
    background-color: black;
    padding: 25px;
    border-radius: 10px;
    margin: 0 auto;
    opacity: 0.9;
    margin-top: 120px;
    margin-bottom: 100px;
}

.login-form label, .register-form label {
    color: white;
    font-size: 20px;
}

.register-form .inp-box, .login-form .inp-box{
    width: 400px;
    height: 35px;
}

.login-form h1, .register-form h1 {
    color: white;
}

.user-name {
    margin-top: 25px;
}

.btn {
    margin-top: 15px;
}

.register-form {
    width: 500px;
    height: 760px;
    background-color: black;
    padding: 25px;
    border-radius: 10px;
    margin: 0 auto;
    opacity: 0.9;
    margin-top: 140px;
    margin-bottom: 100px;
}


#fname {
    margin-top: 25px;
}

.error {
    margin-top: 20px;
}

.error-msg {
    color: white;
    text-align: center;
}

.navbar {
    background-color: black;
    opacity: 0.95;
}

.navbar h2 {
    margin-left: 10px;
    color: white;
}

.login-link {
    margin-right: 15px;
}

.form-inline h5 a {
    color: silver;
}