{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Pinnochio’s Pizza & Subs - {{title}}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <style>
            body {
                background-image: url("/static/images_used/pizza-app-background-image.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            }
        </style>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            
            });
        </script>
        <nav class="navbar">
            <a class="navbar-brand">
                <img src="/static/images_used/pinocchio_img.gif" width="15" height="45" class="d-inline-block align-top" alt="">
                <h2 class="d-inline-block align-top">Pinnochio’s Pizza & Subs</h2>
            </a>
          
            <div class="form-inline my-2 my-lg-0">
                <button type="button" class="btn btn-outline-light" id="sidebarCollapse">...</button>
            </div>
        </nav>
        <div class="wrapper">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Welcome, {{Username}}</h3>
                </div>
                <hr>
                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="{% url 'menu_view' %}">Menu</a>
                    </li>
                    <li>
                        <a href="">Shopping Cart</a>
                    </li>
                    <li>
                        <a href="">Confirm Order</a>
                    </li>
                    <li>
                        <a href="">View Your Orders</a>
                    </li>
                    <li>
                        <a href="{% url 'accountDetails_view' %}">Account Details</a>
                    </li>
                    <li class="logout-warn">
                        <a href="{% url 'logout_view' %}">Logout</a>
                    </li>
                </ul>
            </nav>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>