{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Pinnochio’s Pizza & Subs - {{title}}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <style>
            body {
                background-image: url("/static/images_used/pizza-app-background-image.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            }
        </style>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar">
            <a class="navbar-brand">
                <img src="/static/images_used/pinocchio_img.gif" width="15" height="45" class="d-inline-block align-top" alt="">
                <h2 class="d-inline-block align-top">Welcome, {{User_fname}}</h2>
            </a>
          
            <div class="form-inline my-2 my-lg-0">
                <h5><a class="login-link" href="{% url 'logout_view' %}">Logout</a></h5>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>